<%= render 'videos/main-visual' %>
<%= render 'layouts/nav' %>

<div class="container">
  <div class="row">
    <div class="col-md-3 mt-4">
      <h2>動画を投稿</h2>
        <%= render 'form', video: @video %>
      <h2 class="mt-5">ジャンル一覧</h2>
    </div>
    <div class="col-md-9 mt-4">
      <h2>動画一覧</h2>
      <%= render 'index', videos: @videos %>
    </div>
  </div>
</div>