<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7accb1">
    <div class="container">
      <%= link_to 'BIG APPLE', root_path, class: "navbar-brand text-dark font-weight-normal" %>
      <div class="ml-auto">
        <span class="h3"><%= link_to '', "https://twitter.com/GakugeiBigApple?s=20", class: 'fab fa-twitter-square nav-link text-dark' %></span>
        <span class="h3"><%= link_to '', "https://instagram.com/bigapple_2021?utm_medium=copy_link", class: 'fab fa-instagram nav-link text-dark' %></span>
        <span class="h3"><%= link_to '', "https://liff.line.me/1645278921-kWRPP32q/?accountId=894eidmu", class: 'fab fa-line nav-link text-dark' %></span>
      </div>
    </div>
  </nav>
</header>